@use "../global/variables"as *;

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-text;
  text-align: center;
  padding: 10px 0;
  height: 300px;

  .footer_tittle {
    height: 20px;
    margin-bottom: 50px;

    h1 {
      @include comfortaa-400;
    }
  }

  section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    text-align: start;

    a {
      @include interBold500;
      color: $color-text;
      text-decoration: none;
      transition: color 0.3s ease;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: color;
    }

    &:nth-child(1) a:hover {
      color: $color-primary;
    }

    &:nth-child(2) a:hover {
      color: $color-secondary;
    }

    &:nth-child(3) a:hover {
      color: $color-tertiary;
    }

    &:nth-child(4) a:hover {
      color: $color-light;
    }

    &:nth-child(5) a:hover {
      color: $color-accent;
    }
  }
}

footer header {
  margin: 0;
  padding: 0;

  h2 {
    @include comfortaa-400;
  }
}

.link-ucb {
  padding: 0;
  margin: 0;

  display: block;
}

.logo-ucb {
  padding: 0;
  margin: 0;
  width: 150px;
  max-width: 100%;
  display: block;
}