@use "../global/variables" as *;
@use "../global/resete" as *;

.famousSection {
  border: 1px solid black;
  @include margin;
  display: flex;
  flex-direction: column;

  article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
  }
  h2 {
    font-size: 2.2rem;
    text-align: center;
    @include comfortaa-400;
  }
}
