@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

//Fonts

@mixin comfortaa-400 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
}

@mixin interRegular400(){
  font-family: 'Inter',sans-serif;
  font-weight: 400;

}
@mixin interBold500(){
  font-family: 'Inter',sans-serif;
  font-weight: 500;
}
@mixin interBold600(){
  font-family: 'Inter',sans-serif;
  font-weight: 600;
}
@mixin interBold700(){
  font-family: 'Inter',sans-serif;
  font-weight: 700;
}

// h1{
//   @include interBold700();
// }
// h2{
//   @include interBold600();
// }
// h3{
//   @include interBold500();
// }
// p{
//   @include interRegular400();
// }


//Colors

/* Color Theme Swatches in Hex */
$color-primary: #26A639;
$color-secondary: #068BBF;
$color-tertiary: #F2BB13;
$color-light:   #F21D2F;
$color-accent:  #8065A6;
$color-text:      #333333; // Cinza escuro para boa legibilidade


$light-mode-bg: #f5f5f5; // Fundo do body no modo claro (um cinza bem claro)
$light-mode-text: #333333; // Cor do texto no modo claro (quase preto)

// Cores para o modo escuro
$dark-mode-bg: #333333; // Fundo do body no modo escuro (seu #333333)
$dark-mode-text: #ffffff; // Cor do texto no modo escuro (branco)

// Você também pode querer definir cores para outros elementos que mudam no modo escuro
// Por exemplo, para cards, bordas, links, etc.
$dark-mode-card-back-text: #e0e0e0; // Um cinza claro para texto em fundos escuros, se necessário
$dark-mode-card-background: #444444; // Um fundo para cards no modo escuro
$dark-mode-border-color: #666666; // Cor de bordas no modo escuro
//Flex Box

@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  flex-direction: $direction;
}

//Tags

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a{
  text-decoration: none;
}

main{
  padding: 5rem 0;
}