// Importações de fontes
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

// Fontes
@mixin comfortaa-400 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
}

@mixin interRegular400() {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

@mixin interBold500() {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

@mixin interBold600() {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

@mixin interBold700() {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

// Paleta de cores principal
$color-primary: #26A639;
$color-secondary: #068BBF;
$color-tertiary: #F2BB13;
$color-light: #F21D2F;
$color-accent: #8065A6;
$color-text: #333333;

// Cores do modo claro
$light-mode-bg: #f5f5f5;
$light-mode-text: #333333;
$footer-bg-light: #e0dddd;
$card-bg-light-start: #FFFFFF;
$card-bg-light-end: #ECE9E6;
$button-bg-light: #007bff;
$button-text-light: #ffffff;
$button-hover-light: darken($button-bg-light, 10%);

// Cores do modo escuro
$dark-mode-bg: #333333;
$dark-mode-text: #ffffff;
$dark-mode-card-back-text: #e0e0e0;
$dark-mode-card-background: #444444;
$dark-mode-border-color: #666666;
$footer-bg-dark: darken($dark-mode-bg, 5%);
$button-bg-dark: #66b3ff;
$button-text-dark: #333333;
$button-hover-dark: lighten($button-bg-dark, 10%);

// Utilitários de layout
@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  flex-direction: $direction;
}
@mixin margin {
  margin-right: 15%;
  margin-left: 15%;
}

// Tags globais
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a,li {
  list-style: none;
  text-decoration: none;
}

main {
  padding: 5rem 0;
}
